* {
  box-sizing: border-box;    /* Use the border-box model instead of content-box default for more reliable sizing */
}

body {
  margin: 0 0 0 0;
  font-family: Helvetica;
  font-size: 22px;
  line-height: normal;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

p {
  margin-bottom: 0;
}

h2 {
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 10px;
}

.bodycontainer {
  display: block;
}

.header {
  height: 69px;
  padding: 0px 10px 0px 10px;

  display: flex;
  align-items: center;     /* vertically center */
  justify-content: space-between;

  background-color: black;
  border-bottom: 1px solid seashell;

  /* Make the header "sticky" -- not working though */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;   /* Make sure the header is overlaid over all other content */
}

.logo {
  /* margin: 0 0 0 10px; */
}

.logo img {
  max-height: 50px;
}

.navbar {
  display: flex;
  align-items: center;     /* vertically center */
  justify-content: space-around;
}

.navbar a {
  text-decoration: underline;
}

.navitem {
  margin: 0 0px 0 14px;
}

.footer {
  height: 20px;
  /* background-color: red; */
}

.maincontainer {
  margin-top: 70px;   /* For the sticky header */
}

.topimagecontainer {
  display: flex;
  align-items: center;  /* Center vertically */
  justify-content: center;  /* Center horizontally */
  position: relative;
}

.topimagecontainer img {
  width: 100%;
  height: auto;
}

.topimageoverlay {
  position: absolute;

  width: 100%;
  text-align: center;

  background-color: black;
}

.teaofthemonthheader {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.centeringdiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.teaofthemonthimages {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teacard {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.teacard img {
  width: 300px;
  height: 200px;
}

.locationsimagecontainer {
  display: flex;
  align-items: center;  /* Center vertically */
  justify-content: center;  /* Center horizontally */
  position: relative;
}

.locationsimagecontainer img {
  width: 100%;
  height: auto;
/*
  height: 700px;
*/
}

.locationsimageoverlay {
  position: absolute;

  /*
  width: 100%;
  text-align: center;
  */

  text-align: center;

  display: flex;
  flex-direction: column;
}

.locationcards {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}

.locationcard {
  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: black;

  max-width: 300px;
  margin: 15px 20px 10px 20px;
  padding: 5px 25px 30px 25px;
}

.bottomsection {
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

