body {
  margin: 0 0 0 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

.bodycontainer {
  display: block;
}

.header {
  height: 69px;
  padding: 0px 10px 0px 10px;

  display: flex;
  align-items: center;     /* vertically center */
  justify-content: space-between;

  /* background-color: green; */
  border-bottom: 1px solid seashell;

  /* Make the header "sticky" -- not working though */
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  /* margin: 0 0 0 10px; */
}

.logo img {
  max-height: 50px;
}

.navbar {
  display: flex;
  align-items: center;     /* vertically center */
  justify-content: space-around;
}

.navbar a {
  text-decoration: underline;
}

.navitem {
  margin: 0 0px 0 14px;
}

.footer {
  height: 20px;
  /* background-color: red; */
}

.maincontainer {
  margin-top: 70px;   /* For the sticky header */
}

.topimagecontainer {
  display: flex;
  align-items: center;  /* Center vertically */
  justify-content: center;  /* Center horizontally */
  position: relative;
}

.topimagecontainer img {
  width: 100%;
  height: auto;
}

.topimageoverlay {
  position: absolute;

  width: 100%;
  text-align: center;

  background-color: black;
}

.teaofthemonthheader {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.centeringdiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.teaofthemonthimages {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teacard {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.teacard img {
  width: 300px;
  height: 200px;
}

.locationsimagecontainer {
  display: flex;
  align-items: center;  /* Center vertically */
  justify-content: center;  /* Center horizontally */
  position: relative;
}

.locationsimagecontainer img {
  width: 100%;
  height: auto;
}

.locationsimageoverlay {
  position: absolute;

  width: 100%;
  text-align: center;

  background-color: black;
}


.bottomsection {
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

